
input#trnOrderNumber {
	pointer-events: none;
	background-color: whitesmoke !important;
}

/*input#ordEmailAddress {
	pointer-events: none;
	background-color: whitesmoke !important;
}*/

/* img#powered-by-img {
	display: none;
}
 */
input#submitButton:enabled {
	background-color: green !important;
}

input#submitButton:disabled {
	background-color: lightgrey !important;
}

#customErrors {
	background-color: #f1f1f1;
	padding: 15px;
	margin-top: 30px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 15px;
	font-size: 15px;
	position: relative;
	display: table; 
}

#customErrors #customIcon {
	display: table-cell;
	vertical-align: middle; 
}

#customErrors ul {
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px; 
}

#customErrors li {
	list-style: none; 
}
